Source: node-isexe
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , node-mkdirp <!nocheck>
 , node-rimraf <!nocheck>
 , node-tap <!nocheck>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-isexe
Vcs-Git: https://salsa.debian.org/js-team/node-isexe.git
Homepage: https://github.com/isaacs/isexe
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-isexe
Architecture: all
Depends: ${misc:Depends}
Provides: ${nodejs:Provides}
Multi-Arch: foreign
Description: minimal module to check if a file is executable
 This Node.js module allows ones to check if a given file is executable,
 using promise is available and checking PATHEXT environment
 variable on windows.
 .
 Node.js is an event-based server-side JavaScript engine.
